<!DOCTYPE html>
<html ng-app="rainApp">

<!-- Angular Material requires Angular.js Libraries -->
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-aria.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-messages.min.js"></script>

<!-- Angular Material Library-->
<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.1/angular-material.min.js"></script>


<body>
  <div ng-controller="mainCtrl">
    <input id="file-input" type="file" accept=".csv" />
<div>
  <div ng-repeat="a in dataTable">
    <h1 ng-repeat="b in a">
      {{b}}
    </h1>
  </div>
</div>





  </div>
  </body>
<!-- App files -->
  <script src="library/papaparse.js"></script>
  <script src="app.js"></script>
</html>
