<!DOCTYPE html>
<html ng-app="rainApp">

<!-- Angular Material requires Angular.js Libraries -->
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-aria.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-messages.min.js"></script>

<!-- Angular Material Library-->
<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.1/angular-material.min.js"></script>


<body>
  <div ng-controller="mainCtrl">
    <h1>make sure to update the header on the .csv to just say "Precip"</h1>
    <input id="file-input" type="file" accept=".csv" />

<div>

</div>



<br />
<div>
  <input ng-model="photoDate"/>{{photoDate}} YYYY-MM-DD<br />
  <button ng-click="previousRains()">Calculate Rains</button>
  <h1>30 days Rain: {{thirtyDaysRain}} (mm)</h1>
  <h1>Prev Year Rain: {{prevYearRain}} (mm)</h1>
</div>


<div>
  <button ng-click="precipChartParse()">Make Chart</button>
  <div>
    <canvas id="bar" class="chart chart-bar" chart-data="chartY" chart-labels="chartX"></canvas>
  </div>
</div>

<button ng-click="findAveRain()">Average</button>
<p>
  Average Annual: {{aveAnnualRain[0].value}}
</p>








  </div>
  </body>
<!-- App files -->
  <script src="library/papaparse.js"></script>
  <script src="library/d3.js"></script>
  <script src="library/charts.js"></script>
  <script src ="library/angular-chart.js"></script>
  <script src="library/moment.js"></script>
  <script src="app.js"></script>
</html>
