<!DOCTYPE html>
<html ng-app="rainApp">

<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">


<!-- Angular Material requires Angular.js Libraries -->
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-aria.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-messages.min.js"></script>

<!-- Angular Material Library-->
<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.1/angular-material.min.js"></script>


<body>
    <div ng-controller="mainCtrl">
      <div>
        <p>
          To start: download a single township from the ACIS website as a CSV
          <br />
          change the name of the 'Precip. (mm)'' column to just 'Precip'
          <br />
          Let the wetland magic begin by choosing that file below.
        </p>

      </div>


<md-input-container>

    <label>Choose file</label>
    <input id="file-input" type="file" accept=".csv" />

</md-input-container>

<div>
  <p>
    Place the photo date you wish to see rain calculations for:
  </p>
  <input ng-model="photoDate"/>{{photoDate}} YYYY-MM-DD<br />
  <button ng-click="previousRains()">Calculate Rains</button>
  <h1>30 days Rain: {{thirtyDaysRain}} (mm)</h1>
  <h1>Prev Year Rain (Starts Jan 1): {{prevYearRain}} (mm)</h1>
</div>


<div>
  <button ng-click="precipChartParse()" ng-show="chartY">Make Chart</button>
  <div>
    <canvas id="bar" class="chart chart-bar" chart-data="chartData" chart-labels="chartX" chart-dataset-override="aveLine"></canvas>
  </div>
</div>

<p>
  Average Annual: {{aveAnnualRain}}
</p>








  </div>
  </body>
<!-- App files -->
  <script src="library/papaparse.js"></script>
  <script src="library/d3.js"></script>
  <script src="library/charts.js"></script>
  <script src ="library/angular-chart.js"></script>
  <script src="library/moment.js"></script>
  <script src="app.js"></script>
</html>
